<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339172714599-a1jsiedi3uor4np228kttgd08r588fhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339172714599-a1jsiedi3uor4np228kttgd08r588fhs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>339172714599-6i5vhatane6im37mfqjknh4b25l91208.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrjeGeVIlcHOQmf-dEtDrsQ3pkYcKdOaA</string>
	<key>GCM_SENDER_ID</key>
	<string>339172714599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.telmi.native</string>
	<key>PROJECT_ID</key>
	<string>telmi-e3d14</string>
	<key>STORAGE_BUCKET</key>
	<string>telmi-e3d14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339172714599:ios:23ceaa148dc95ecb870cc2</string>
	<key>DATABASE_URL</key>
	<string>https://telmi-e3d14-default-rtdb.firebaseio.com</string>
</dict>
</plist>